nav li {
    line-height: 2rem;
    border-bottom: 1px solid $primary;
    transition: 0.7s;
    font-size: clamp(.9rem, 2vw, 1.1rem);;
    &:hover {
        color: $secondary;
        border-bottom: 1px solid $secondary;
    }
}

.logo {
    border-radius: 50%;
    width: 80px;
    border: solid 1px $secondary;
    padding: 5px;
}

.name {
    text-align: center;
    h3 {
        display: inline;
        font-size: clamp(.9rem, 3vw, 1.4rem);
        padding-bottom: 5px;
        border-bottom: 1px solid $secondary;
    }
}

.fixedHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    transition: ease all .5s;
}

.name:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75%;
    padding-top: 25px;
    border-bottom: 1px solid $secondary;
}

