nav li {
    line-height: 2rem;
    border-bottom: 1px solid $primary;
    transition: 0.7s;
    &:hover {
        color: $secondary;
        border-bottom: 1px solid $secondary;
    }
}

.logo {
    border-radius: 50%;
    width: 80px;
}

span {
    display: block;
}

.fixedHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $background;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;    
}

