@media (max-width: 1000px) {
    // flex column for the projects, images on top

    .project, 
    .reverse {
        flex-direction: column-reverse;
        text-align: center;
        .projectInfo,
        .preview {
        width: 100%;
        }
    }

    .toolkit, 
    .view {
        justify-content: center;
    }
}


@media (max-width: 800px) {
    // change nav to hamburger menu
    .fixedHeader {
        padding: 20px 20px;    
    }

    .logo {
        width: 60px;
    }
}
// 900px
// make skills icons into 2 full rows