@media (max-width: 1000px) {

    .about {
        flex-direction: column-reverse;
    }

    .intro-text {
        width: 100%;
    }

    .headshot {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .project, 
    .reverse {
        flex-direction: column;
        text-align: center;
        .projectInfo,
        .preview {
        width: 100%;
        }
    }

    .toolkit, 
    .view {
        justify-content: center;
    }
}

@media (max-width: 800px) {
    
    .fixedHeader {
        padding-left: 30px;
        padding-right: 30px;   
    }

    .logo {
        width: 60px;
    }

    nav li {
        font-size: 0.8rem;
    }
}

@media (max-width: 550px) {
    
    h1 {
        margin: 10px 0 3px;
    }

    h4 {
        margin: 0;
    }

    .fixedHeader {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 20px 20px;
    }

    .shrink {
        padding: 15px 20px 5px;
        transform: translateY(-75px);
    }

    nav ul {
        display: flex;
        flex-direction: row;
        li {
            padding: 0px 10px;
            margin: 2px 10px;
            line-height: 1.2rem;
        }
    }

    .name:after {
        width: 50%;
        padding-top: 12px;
    }

    .about { 
            margin-top: 215px;
        }

    .line {
        height: 3vh;
    }

    .subHeading {
        scroll-margin-top: 7rem;
    }
    
    .skillIcons {
        padding: 25px 0;
    }

}

@media (max-width: 380px) {

    .logo {
        width: 40px;
    }
    
    .shrink {
        transform: translateY(-55px);
        }

    .headshot {
        width: 55%;
    }

    section {
        padding: 15px 0;
    }

    section.wrapper:nth-child(1) {
        padding: 25px 0 40px;
    }

    .about, 
    .connect p {
        margin-bottom: 25px;
    }

    .connectFlex {
        padding: 35px 0;
        margin-top: 75px;
    }

    .skillIcons li i {
        font-size: 1.5rem;
        }
}