section {
    padding: 30px 0;
}

.subHeading {
    scroll-margin-top: 6rem;
}

// About Section

.about { 
    margin-top: 300px;
    margin-bottom: 40px;
    text-align: center;
    .inTouch span {
        color: $secondary;
        display: inline;
        border-bottom: 1px solid $primary;
    }
}

.mouseDown {
    position: absolute;
    left: 50%;
}

.line {
    width: 1px;
    height: 5vh;
    background: $secondary;
    position: relative;
    animation: scrollUpDown 2.5s infinite;
}

@keyframes scrollUpDown {
    0% {
        top: 5px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 5px;
    }
}

// Projects Section

.project {
    display: flex;
    align-items: center;
    .projectInfo,
    .preview {
        width: 50%;
    }
    h4 {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 1px solid $secondary;
    }
}

.reverse {
    flex-direction: row-reverse;
}

.project, 
.reverse {
    border: solid 1px $secondary;
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px;
}

.toolkit {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    li {
        font-size: 0.8rem;
        padding: 8px;
        margin: 5px 10px 5px 0;
        border: 1px solid $secondary;
        border-radius: 15px;
        transition: 0.7s;
    }
}

.view {
    display: flex;
    margin: 10px 0;
}

.partnerSite {
    margin: 10px 0;
    a {
        border-bottom: 1px solid $secondary;
    }
}

.link {
    margin-right: 15px;
    a {
    padding: 5px;
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
    transition: 0.7s;
    letter-spacing: 2px;
    &:hover, 
    &:focus {
        color: $secondary;
        border-left: 1px solid $secondary;
        border-right: 1px solid $secondary;
        border-radius: 15px;
        }
    }
}

// Skills Section

.skillIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 60px 0;
    li {
        transition: 0.4s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        font-size: 0.8rem;
        &:hover,
        &:focus {
            color: $secondary;
        }
        i {
            font-size: 2.5rem;
            padding: 10px 0;
        }
    }
}

// Contact Section

.connect p {
    text-align: center;
    margin-bottom: 50px;
}

.connectFlex {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0;
    margin-top: 100px;
    li {
        transition: 0.3s;
        &:hover,
        &:focus {
            color: $secondary;
            transform: scale(1.1);
    }
    i {
        font-size: 2rem;
        }
    }
}