$font: 'Red Hat Text', sans-serif;  
// $background: #3f4c6b; blue grey color
$background: #33504d;
$primary: #F5F4F4;
// $secondary: #abcfcb; light turquoise mint color
$secondary: #b08564; 
// medium tan color
// $secondary: #b78e8e;
